services:
  postgres:
    image: postgres:15-alpine
    container_name: hris-postgres
    environment:
      POSTGRES_USER: hris
      POSTGRES_PASSWORD: hris123
      POSTGRES_DB: hris
    ports:
      - '2010:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./infrastructure/docker/init-databases.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - hris-network
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U hris']
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: hris-redis
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    networks:
      - hris-network
    deploy:
      resources:
        limits:
          memory: 256M
        reservations:
          memory: 128M
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: hris-rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: hris
      RABBITMQ_DEFAULT_PASS: hris123
    ports:
      - '5672:5672' # AMQP port
      - '15672:15672' # Management UI
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - hris-network
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M
    healthcheck:
      test: ['CMD', 'rabbitmq-diagnostics', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5

  # api-gateway:
  #   build:
  #     context: .
  #     dockerfile: apps/api-gateway/Dockerfile
  #   container_name: hris-gateway
  #   ports:
  #     - "3000:3000"
  #   environment:
  #     - NODE_ENV=development
  #     - REDIS_HOST=redis
  #     - REDIS_PORT=6379
  #   depends_on:
  #     - redis
  #   networks:
  #     - hris-network
  #   deploy:
  #     resources:
  #       limits:
  #         memory: 256M

  # auth-service:
  #   build:
  #     context: .
  #     dockerfile: apps/auth-service/Dockerfile
  #   container_name: hris-auth
  #   ports:
  #     - "3001:3001"
  #   env_file:
  #     - .env
  #   environment:
  #     - NODE_ENV=development
  #     - DATABASE_URL=postgresql://hris:hris123@postgres:5432/auth_db
  #     - REDIS_HOST=redis
  #     - RABBITMQ_HOST=rabbitmq
  #   depends_on:
  #     - postgres
  #     - redis
  #     - rabbitmq
  #   networks:
  #     - hris-network
  #   deploy:
  #     resources:
  #       limits:
  #         memory: 256M

volumes:
  postgres_data:
  redis_data:
  rabbitmq_data:

networks:
  hris-network:
    driver: bridge
